html {
  background-color: black;
}

body {
  width: 60rem;
  color: grey;
  font-family: 'Bangers', cursive;
  margin: 0 auto;
}

/* GRID LAYOUT */

#comic-page {
  /* display: grid;
  grid-template-columns: 19% 81%;
  grid-template-rows: 25% 25% 50%; */
  background-color: lavender;
  padding: 0.25rem;
}

#panel-row-1 {
  display: grid;
  grid-template-columns: 40% 60%;
  /* grid-template-rows: 25% 25% 50%; */
}

#panel-row-2 {
  /* display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 25% 25% 50%; */
}

#panel-row-3 {
  display: grid;
  grid-template-columns: 50% 50%;
}

#panel-row-4 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.comic-panel-borders {
  border: 0.5rem solid grey;
  margin-top: 0.25rem;
}



/* h4 {
	position: relative;
	display: inline-block;
  &:after {
    z-index: -1;
		content: "";
		position: absolute;
		top: 0;
     left: 0;
		height: 100%;
		width: 100%;
		background-color: inherit;
     border: 1px solid maroon;
		-webkit-transform: skewX(-10deg);
		-moz-transform: skewX(-10deg);
		-ms-transform: skewX(-10deg);
		transform: skewX(-10deg);
  }
} */


#title-panel {
  /* display: grid;
  grid-template-columns: 19% 81%;
  grid-template-rows: 25% 25% 50%; */
}

#starring-panel {
  display: grid;
  /* grid-template-columns: 19% 81%; */
  grid-template-rows: 10% 60% 30%;
}

#buttons-panel {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  /* grid-template-rows: 25% 25% 50%; */
}

#dropdown-panel {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  /* grid-template-rows: 25% 25% 50%; */
}

/* Buttons ============================ */

#buttons {
  text-align: right;
  padding: 1rem;
}

.btn-container {
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}

.btn {
  margin: 8px;
}

.btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.37);
}

.btn:active {
  border: none;
  background-color: rgba(81, 255, 0, 0.377);
}

.btn.checked {
  background-color: rgba(120, 255, 102, 0.562);
}

input[type=radio] {
  display: none;
}




/* BOXING RING  ===================== */

#boxing-ring-container {
  display: grid;
  grid-template-rows: 60% 40%;
  background-image: url("pics/boxing-ring.png");
  height: 30rem;
  background-repeat: no-repeat, repeat;
  background-color: black;
  background-position: center;
}

#figures-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

#median-displays-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.invisible {
  /* display: none; */
  opacity: 0;
}

#hero-figures {
  text-align: right;
}

#hero-medians {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: auto;
}

#villain-medians {
  display: grid;
  grid-template-columns: 50% 50%;
}

.median-display {
  background-color: rgb(43, 43, 43);
  margin: 1rem;
  padding: .5rem;
  border-radius: 1rem;
  color: white;
  width: 60%;
  height: 40%;
  font-size: 1.35rem;
}

.median-text p {
  margin: .5rem 0;

}

#median-displays-container span {
  color: yellow;
}

#median-displays-container h3 {
  font-size: 3rem;
  margin: .5rem 0 0 2rem;
}

#figures-container img {
  /* transform: translateY(60px); */
  width: 12%;
}

.top-figures img {
  margin: 0 1.25rem;
}

#hero-figures .bot-figures img {
  margin-right: 4rem;
  transform: translateY(-50px);
}

#villain-figures .bot-figures img {
  margin-left: 4rem;
  transform: translateY(-50px);
}