@font-face {
  font-family: "Wild Words";
  src: url("fonts/CC Wild Words Roman.ttf");
}

html {
  background-color: black;
  cursor: default;
}

body {
  width: 55rem;
  color: black;
  font-family: 'Bangers', cursive;
  margin: 0 auto;
}

/* COMIC BOOK PANEL ROWS */

#comic-page {
  background-color: white;
  padding: 0.25rem;
}

#panel-row-1,
#panel-row-2,
#eye-bar,
#hair-bar,
#gender-pie,
#race-bar,
#publisher-pie {
  background-image: url(textures/fabric.png);
  /* Background pattern from Toptal Subtle Patterns */
  overflow: hidden;
}

#panel-row-1 {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0.25rem;
  margin-bottom: 0.5rem;
}

#panel-row-2 {}

#panel-row-3 {
  display: grid;
  grid-template-columns: 50% 50%;
}

#panel-row-4 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

#panel-row-5 {
  text-align: right;
  padding: 0.1rem 1rem 0.1rem 0;
}

/* #panel-row-1,
#panel-row-2,
#eye-bar,
#hair-bar,
#gender-pie,
#race-bar,
#publisher-pie,
#panel-row-5 {
  background-color: #F0EAD6;
} */

.comic-panel-borders {
  border: 1px solid rgb(104, 104, 104);
  border-radius: 3px;
  margin: 0.25rem;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}


/* STARTING FROM THE TOP DOWN =================*/


/* ######################################################### */
/* PANEL ROW 1 ############################################# */

/* TITLE PANEL ------------------- */

#title-panel {
  text-align: center;
}

.title {
  text-align: center;
}

h1.title {
  font-size: xx-large;
  letter-spacing: .3rem;
  text-decoration: underline;
}

#description-box {
  border: 1px solid black;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  text-align: left;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 0, 0.418);
  line-height: 1.35rem;
}

#description-box span {
  margin-left: 90%;
}

#data-source {
  text-align: justify;
  margin: 0 0.5rem;
  padding: 0.7rem;
  font-family: 'Comfortaa', cursive;
  font-size: .8rem;
  opacity: 0.9;
  line-height: 1.1rem;
}

#data-source a {
  text-decoration: none;
  color: black;
  opacity: .65;
  font-weight: bold;
}

#signature-container {
  margin-bottom: .8rem;
}

.signature {
  color: black;
  opacity: .45;
  text-decoration: none;
  margin: 0 .1rem;
  font-family: 'Comfortaa', cursive;
  font-size: 0.85rem;
}

.signature.name {
  font-weight: bold;
  opacity: .65;
  font-size: 0.8rem;
}

a:hover,
#data-source a:hover,
.signature.name:hover {
  opacity: 1;
}


/* STARRING PANEL ------------------- */

#starring-panel {
  display: grid;
  grid-template-rows: 20% 30% 30%;
  text-align: center;
}

#starring-panel h2.title {
  font-size: x-large;
  letter-spacing: .3rem;
  margin-top: 2rem;
  opacity: 0.85;
}

h3.button-titles {
  font-family: 'Comfortaa', cursive;
  font-size: medium;
  margin-top: 2rem;
}

.dropdown-panel {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  margin-top: 1rem;
}

.dropdown-panel select {
  height: 30%;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  font-family: 'Comfortaa', cursive;
  background-color: rgba(255, 255, 0, 0.418);
  border-color: black;
}

.dropdown-titles {
  font-family: 'Comfortaa', cursive;
  font-size: medium;
}




/* ######################################################### */
/* PANEL ROW 2 ############################################# */

/* FIGURE PANEL ------------------- */

#figure-grid-container {
  /* display: grid;
  grid-template-rows: 25% 45% 30%; */
  background-image: url("pics/platform.png");
  background-repeat: no-repeat, repeat;
  background-position: bottom 1.2rem right 50%;
}

/* #platform {
  display: grid;
  
  background-size: 700px;
  height: 30rem;
  
  background-color: lavender;
  
} */

#total-ratio-numbers {
  /* display: inline-block; */
  margin: .4rem 30%;
  font-family: 'Comfortaa', cursive;
  background-color: rgba(255, 255, 0, 0.418);
  border: 1px solid black;
  height: 3.2rem;
  /* padding: .2rem auto 1rem; */
  text-align: center;
  line-height: .9rem;
}

.num-labels {
  text-align: center;
  font-weight: bold;
}

.num-containers {
  margin: .5rem auto;
  font-weight: 400;
}

#ratio-container {
  /* font-size: large; */
  font-weight: 700;
}


#figures-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.invisible {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
}

#hero-figures {
  text-align: right;
}

#figures-container img {
  /* transform: translateY(60px); */
  width: 12%;
  filter: brightness(115%)
}

.top-figures img {
  margin: 0 1.25rem;
}

#hero-figures .bot-figures img {
  margin-right: 3.8rem;
  transform: translateY(-75px);
}

#villain-figures .bot-figures img {
  margin-left: 3.8rem;
  transform: translateY(-75px);
}

#medians-container {
  /* background-color: lavender; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 49% 51%;
  /* height: 6rem; */
  /* border: 1px red solid; */
  background-color: rgba(138, 218, 187, 0.637);
  width: 40rem;
  height: 4.5rem;
  padding: 0 1rem;
  transform: translateY(-30px);
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;
  clip-path: polygon(2.5% 0, 98.2% 0, 100% 100%, 0% 100%);
  line-height: 1.2rem;
}

#villain-medians {
  margin-left: 1rem;
}

#medians-container h2 {
  letter-spacing: .15rem;
  font-size: .9rem;
  margin: .95rem 0 0 .5rem;
  opacity: .65;
}

.median-values-container {
  font-size: .9rem;
  margin: 1rem 0 0 1rem;
  display: inline-block;
  -webkit-transform: scale(.8, 1);
  /* Safari and Chrome */
  -moz-transform: scale(.8, 1);
  /* Firefox */
  -ms-transform: scale(.8, 1);
  /* IE 9 */
  -o-transform: scale(.8, 1);
  /* Opera */
  transform: scale(.8, 1);
  /* W3C */
}

#hero-medians {
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: 35% 75%;
}

#villain-medians {
  /* background-color: blueviolet; */
  display: grid;
  grid-template-columns: 35% 75%;
}


.vis-title {
  text-align: center;
  /* letter-spacing: 5px; */
  /* background-color: rgba(255, 255, 0, 0.418); */
  background-color: rgba(255, 255, 0, 0.25);
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  /* font-size: 1.25rem; */
  /* display: inline-block; */
  width: 10rem;
  margin: .5rem auto;
  padding: .2rem;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}


/* TOOLTIP RELATED STYLES ====================== */

/* div#tooltip {
  display: absolute;
  
  z-index: 1000;
} */
div#tooltip {
  position: absolute;
  height: 6rem;
  /* width: auto;
  height: auto; */
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

#tooltip-box {
  background-color: white;
  width: 12rem;
  height: auto;
  border-radius: 1.5rem;
  border: 2px rgb(41, 41, 41) solid;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.08rem;
  padding: .35rem .5rem;
}

#tooltip-extra-space {
  display: block;
  height: .4rem;
}

#tooltip-arrow {
  background-color: white;
  width: 2rem;
  height: 2rem;
  clip-path: polygon(54% 0, 33% 100%, 100% 0);
  position: relative;
  bottom: 39px;
  left: 7px;
}

#tooltip-arrow-frame {
  background-color: black;
  width: 2.5rem;
  height: 2.3rem;
  clip-path: polygon(54% 0, 33% 100%, 100% 0);
  position: relative;
  bottom: 1px;
  left: 1px;
}