body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: 'Bangers', cursive;
  padding: 1em 3em;
  background-color: lavender;
}

/* GRID LAYOUT */

#dashboard {
  display: grid;
  grid-template-columns: 19% 81%;
  /* grid-template-rows: 25% 25% 50%; */
  background-color: burlywood;
  padding: 1rem;
}

#bar-container {
  display: grid;
  grid-template-columns: 34% 33% 33%;
}

#pie-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.white-frame {
  background-color: white;
  border: gray 2px solid;
  border-radius: 1rem;
  margin: 1rem;
}


/* Buttons ============================ */

#buttons {
  text-align: right;
  padding: 1rem;
}

.btn-container {
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}

.btn {
  margin: 8px;
}

.btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.37);
}

.btn:active {
  border: none;
  background-color: rgba(81, 255, 0, 0.377);
}

.btn.checked {
  background-color: rgba(120, 255, 102, 0.562);
}

input[type=radio] {
  display: none;
}



/* RATIO DISPLAY ============================ */
#ratio-display {
  text-align: center;
  color: white;
  background-color: black;
  display: grid;
  /* grid-template-columns: 19% 81%; */
  grid-template-rows: 25% 75%;
  font-family: 'Permanent Marker', cursive;
}

#three-parts-container {
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

#to-every-text {
  margin-top: 5rem;
}

.display-num {
  font-size: 4.5rem;
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.ratio-unit {
  font-size: 1.5rem;
}


/* BOXING RING  ===================== */

#boxing-ring-container {
  display: grid;
  grid-template-rows: 60% 40%;
  background-image: url("pics/boxing-ring.png");
  height: 20rem;
  background-repeat: no-repeat, repeat;
  background-color: lavender;
  background-position: center;
}

#figures-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

#median-displays-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.invisible {
  display: none;
}

#hero-figures {
  text-align: right;
}

#hero-medians {
  display: grid;
  grid-template-columns: 50% 50%;
}

#villain-medians {
  display: grid;
  grid-template-columns: 50% 50%;
}

.median-display {
  background-color: rgb(43, 43, 43);
  margin: 1rem;
  border-radius: 1rem;
  color: white;
}

#median-displays-container span {
  color: yellow;
}